/* -----------------------------------------------------------------------
custom css
K. Aning
----------------------------------------------------------------------- */
.header {
	border-bottom: 5px solid #DDD;
	border-top: 5px solid #111;
}
.underlinebox{
	border-bottom: 1px solid #DDD;
}
.imagebox{
	padding:3px;
	margin:3px;
	background:white;
}
